<mdb-carousel [controls]="true">
  <mdb-carousel-item>
    <img
      src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block caption-content">
      <h5>Enjoynment Time</h5>
      <p>Are you planning a vacation to enjoy your free time? Looking for a place to explore</p>
      <div class="d-flex contact">
        <img src="assets/images/what'sapp.png">
      </div>
    </div>

  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
    src="https://mdbootstrap.com/img/Photos/Slides/img%20(35).webp"
    class="d-block w-100"
    alt="..."
  />
    <div class="carousel-caption d-none d-md-block caption-content">
      <h5>Enjoynment Time</h5>
      <p>Are you planning a vacation to enjoy your free time? Looking for a place to explore</p>
      <div class="d-flex contact">
        <img src="assets/images/what'sapp.png">
      </div>
    </div>

  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="https://mdbootstrap.com/img/Photos/Slides/img%20(22).webp"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block caption-content">
      <h5>Enjoynment Time</h5>
      <p>Are you planning a vacation to enjoy your free time? Looking for a place to explore</p>
      <div class="d-flex contact">
        <img src="assets/images/what'sapp.png">
      </div>
    </div>

  </mdb-carousel-item>


</mdb-carousel>
