<div class="container clients">
  <h4>Our clients</h4>
  <h3>What are our <span>Clients Say?</span></h3>
  <app-sphere></app-sphere>
  <div class="row Rectangles">
     <div class="col-md-6 col-lg-6 col-sm-12 Rectangle">
      <div class="content">
        <img src="assets/images/Rectangle 121.png">
        <div>
          <p class="p-black">Ahmed Atif</p>
          <p>Engineer</p>
          <hr>
        </div>
      </div>
        <div class="content-img">
          <div class="image">
            <img src="assets/images/Vector-black.png">
          </div>
          <p>" I enjoyed a lot with you, as it was an enjoyable trip on the sea ,diving, horse riding ".</p>
        </div>
        <div class="edge">
          <img src="assets/images/Group 48095572.png">
        </div>
    </div>

    <div class="col-md-6 col-lg-6 col-sm-12 Rectangle">
      <div class="content">
        <img src="assets/images/Rectangle 121.png">
        <div>
          <p class="p-black">Ahmed Atif</p>
          <p>Engineer</p>
          <hr>
        </div>
      </div>
        <div class="content-img">
          <div class="image">
            <img src="assets/images/Vector-black.png">
          </div>
          <p>" I enjoyed a lot with you, as it was an enjoyable trip on the sea ,diving, horse riding ".</p>
        </div>
        <div class="edge">
          <img src="assets/images/Group 48095572.png">

        </div>
    </div>
  </div>
  <button class="btn">More Reviews</button>


</div>
