
<div class="tours">
  <h4>city Tours</h4>
  <h3>Our <span>Tours</span></h3>
  <app-sphere></app-sphere>
  <div class="slider">

    <div class="overlay"></div>

    <swiper
    [config]="config"

  >
    <ng-template swiperSlide>
      <div class="slide">
         <div class="overlay"></div>
         <img src="assets/images/tours3.png">
         <div class="price">
          <img src="assets/images/Union.png">
          <p>120$</p>
         </div>
         <div class="content">
         <p>Explore the oldest of the 7 Wonders of the Ancient World at Giza.</p>
         <div class="d-flex location">
          <span><i class="fa-solid fa-location-dot icon"></i></span>
          <p>Cairo</p>
         </div>
        </div>
      </div>
     </ng-template>
    <ng-template swiperSlide>
       <div class="slide">
        <div class="overlay"></div>
      <img src="assets/images/tours2.png">
      <div class="price">
        <img src="assets/images/Union.png">
        <p>120$</p>
       </div>
       <div class="content">
       <p>Explore the oldest of the 7 Wonders of the Ancient World at Giza.</p>
       <div class="d-flex location">
        <span><i class="fa-solid fa-location-dot icon"></i></span>
        <p>Cairo</p>
       </div>
      </div>
   </div>
  </ng-template>
    <ng-template swiperSlide>
      <div class="slide">
        <div class="overlay"></div>
        <img src="assets/images/tours1.png">
        <div class="price">
          <img src="assets/images/Union.png">
          <p>120$</p>
         </div>
         <div class="content">
         <p>Explore the oldest of the 7 Wonders of the Ancient World at Giza.</p>
         <div class="d-flex location">
          <span><i class="fa-solid fa-location-dot icon"></i></span>
          <p>Cairo</p>
         </div>
        </div>
     </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="slide">
        <div class="overlay"></div>
        <img src="assets/images/tours3.png">
        <div class="price">
          <img src="assets/images/Union.png">
          <p>120$</p>
         </div>
         <div class="content">
         <p>Explore the oldest of the 7 Wonders of the Ancient World at Giza.</p>
         <div class="d-flex location">
          <span><i class="fa-solid fa-location-dot icon"></i></span>
          <p>Cairo</p>
         </div>
        </div>
     </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="slide">
        <div class="overlay"></div>
     <img src="assets/images/tours2.png">
     <div class="price">
      <img src="assets/images/Union.png">
      <p>120$</p>
     </div>
     <div class="content">
     <p>Explore the oldest of the 7 Wonders of the Ancient World at Giza.</p>
     <div class="d-flex location">
      <span><i class="fa-solid fa-location-dot icon"></i></span>
      <p>Cairo</p>
     </div>
    </div>
  </div>
 </ng-template>
 <ng-template swiperSlide>
  <div class="slide">
    <div class="overlay"></div>
 <img src="assets/images/tours1.png">
 <div class="price">
  <img src="assets/images/Union.png">
  <p>120$</p>
 </div>
 <div class="content">
 <p>Explore the oldest of the 7 Wonders of the Ancient World at Giza.</p>
 <div class="d-flex location">
  <span><i class="fa-solid fa-location-dot icon"></i></span>
  <p>Cairo</p>
 </div>
</div>
</div>

</ng-template>
  </swiper>
      <button class="btn">View All</button>

    </div>

  </div>
