footer{
  background-color: var(--blue);
  padding-top: 10px;
  margin-top: 50px;
  overflow: hidden;
  .sphere{
    width: 20px;
  }
  .logo{
   p{
    color: var(--White);
    line-height: 24px;
    font-weight: 300;
   }
  }
  .services{
    p{
      color: var(--White);
      font-weight: 500;
      font-size: 15px;
      line-height: 27px;
    }
  }
  .payment{
    color: var(--White);
    .icons{
      justify-content: space-between;

    .icon{
      font-size: 32px;
    }
    .div-icon{
      background-color: var(--White);
      height: 24px;
      width: 24px;
      border-radius: 50%;
      text-align: center;
      color: var(--blue);
    }
  }
}
  .newsletter{

    p{
      color: var(--White);
      line-height: 24px;
      font-weight: 300;
    }
    .input-btn{
      width: 366px;
      height: 44px;
      input{
      border-radius: 5px 0px 0px 5px;
      border: none;

      }
      input:focus{
        border: none;
        outline: none;
      }
      button{
        border-radius: 0px, 5px, 5px, 0px;
        color: var(--White);
        background-color: var(--Orange);
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        gap: 10px;
        padding: 8px, 32px, 8px, 32px;

      }
    }
  }
  .last-footer{
    border-top: 0.5px solid var(--White);

  .div-copy{
    color: var(--White);
    justify-content: space-between;
  }
  a{
    padding-left: 40px;
  }
}

}
@media(max-width:600px) and (min-width:200px){
  footer .last-footer a{
    padding-left: 10px;
  }
  footer .input-btn {
    width: 310px;
  }
  footer .payment .icons{
    justify-content: center;

  }
  footer .payment .icons .icon{
    padding-left: 20px;
  }
  footer .payment .icons .div-icon{
    margin-left: 20px;
  }


}
@media(max-width:1000px) and (min-width:600px){
  footer .last-footer a{
    padding-left: 10px;
  }
  footer .input-btn {
    width: 310px;
  }
  footer .payment .icons{
    justify-content: center;

  }
  footer .payment .icons .icon{
    padding-left: 20px;
  }
  footer .payment .icons .div-icon{
    margin-left: 20px;
  }

  footer .newsletter .input-btn input{
    width:126px ;

  }
  footer .newsletter .input-btn button{
    width:120px ;


  }


}
