<div class="sticky-top header">
  <div class="container pt-3 content">
    <div class="wh-con d-flex">
      <span>
        <img src="assets/images/logos_whatsapp-icon.png">
      </span>
      <span class="contact mx-2">+20 101 111 7381 - 24/7 Help Support</span>
    </div>

    <div class="icons">
      <div class="icon">
        <img src="assets/images/Vector.png">
      </div>
      <div class="icon">
        <img src="assets/images/facebook.png">
      </div>
      <div class="icon">
        <img src="assets/images/instagram.png">
      </div>
    </div>
    <div class="user">
         <img src="assets/images/man.jpg">
    </div>
    <div mdbDropdown class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbarDropdownMenuLink"
        role="button"
        mdbDropdownToggle
        aria-expanded="false"
      >
      <img src="assets/images/united-states-flag-icon 1.png">
      Eng
      </a>
      <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li>
          <a class="dropdown-item" href="#"><i class="flag-united-kingdom flag"></i>English <i class="fa fa-check text-success ms-2"></i></a>
      </li>

          <li>
              <a class="dropdown-item" href="#"><i class="flag-poland flag"></i>Polski</a>
          </li>
          <li>
            <a class="dropdown-item" href="#"><i class="flag-spain flag"></i>Español</a>
        </li>
        <li>
            <a class="dropdown-item" href="#"><i class="flag-russia flag"></i>Русский</a>
        </li>

      </ul>


  </div>

</div>
