<div class="book">
  <p class="book-p">Book Your Next adventure</p>
  <div class="d-flex">
    <div class="things-p">
      <p>Destination</p>
      <select>
        <option>option1</option>
        <option>option1</option>
        <option>option1</option>
      </select>
    </div>

    <div  class="things-p">
      <p>Things To Do</p>
      <select>
        <option>option1</option>
        <option>option1</option>
        <option>option1</option>
      </select>
    </div>
    <button class="btn">SEARCH</button>
  </div>

</div>
