<div class="container offers">
  <h4>Offers</h4>
  <h3>Best Offers <span>for you</span></h3>
  <app-sphere></app-sphere>
  <div class="row Rectangles">
     <div class="col-md-6 col-lg-6 col-sm-12 Rectangle">
      <div class="off">
          <div class="off-p">
            <img src="assets/images/offer.png">
            <p>15%OFF</p>
          </div>
          <div class="dollar">
            <p class="number">100$</p>
            <div class="stars">
              <i class="fa-solid fa-star icon"></i>
              <i class="fa-solid fa-star icon"></i>
              <i class="fa-solid fa-star icon"></i>
              <i class="fa-solid fa-star icon"></i>
              <i class="fa-solid fa-star icon"></i>
            </div>
          </div>
      </div>
      <div class="images d-flex">
        <div class="image1">
          <img src="assets/images/ships.jpg">
        </div>
        <p>Marsa Alam</p>
        <div class="image1">
          <img src="assets/images/ships.jpg">
        </div>
        <p>Marsa Alam</p>
        <div class="image1">
          <img src="assets/images/ships.jpg">
         </div>
         <p>Marsa Alam</p>
      </div>
      <div class="content">
          <p>We offer you offers on some tourist cities with discounts of up to about 15% on these trips tourist cities with discounts of up to about We offer you offers on some tourist cities with discounts of up to about 15% on these trips tourist cities with discounts of up to about.</p>
      </div>
      <div class="icons">
        <div class="icon1">
        <span> <i class="fa-regular fa-clock icon"></i>5 days</span>
        <span> <i class="fa-solid fa-location-dot icon"></i>Marsa Alam, El Quesier, Porto Ghaleb</span>
      </div>
      <div class="icon2">
        <span class="span-icon"> <i class="fa-solid fa-user-group icon"></i>5</span>
        <span  ><i class="fa-solid fa-tag icon"></i> 15%</span>
      </div>
      </div>
      <button class="btn">view More Details</button>
      </div>



      <div class="col-md-6 col-lg-6 col-sm-12 Rectangle">
        <div class="off">
          <div class="off-p">
            <img src="assets/images/offer.png">
            <p>15%OFF</p>
          </div>
          <div class="dollar">
            <p class="number">100$</p>
            <div class="stars">
              <i class="fa-solid fa-star icon"></i>
              <i class="fa-solid fa-star icon"></i>
              <i class="fa-solid fa-star icon"></i>
              <i class="fa-solid fa-star icon"></i>
              <i class="fa-solid fa-star icon"></i>
            </div>
          </div>
      </div>
        <div class="images2">
          <img src="assets/images/ships.jpg">
          <p>Marsa Alam</p>
        </div>
        <div class="content">
            <p>We offer you offers on some tourist cities with discounts of up to about 15% on these trips tourist cities with discounts of up to about We offer you offers on some tourist cities with discounts of up to about 15% on these trips tourist cities with discounts of up to about.</p>
        </div>
        <div class="icons">
          <div class="icon1">
          <span> <i class="fa-regular fa-clock icon"></i>5 days</span>
          <span> <i class="fa-solid fa-location-dot icon"></i>Marsa Alam, El Quesier, Porto Ghaleb</span>
        </div>
        <div class="icon2">
          <span class="span-icon"> <i class="fa-solid fa-user-group icon"></i>5</span>
          <span  ><i class="fa-solid fa-tag icon"></i> 15%</span>
        </div>
        </div>
        <button class="btn">view More Details</button>
        </div>



</div>

