<div class="container liveboard">
  <h4>Liveabroad</h4>
  <h3>liveaboard <span>safari trips</span></h3>
  <app-sphere></app-sphere>
  <div class="row Rectangles">
     <div class="col-md-12 col-lg-4 col-sm-12 Rectangle">
      <div class="content">
        <img src="assets/images/ships.jpg">
        <div>
          <p class="p-black">LIVEABOARD SATAYA DOLPHIN HOUSE</p>
          <p> <i class="fa-solid fa-location-dot icon"></i> Marsa ALAM</p>
          <div class="stars">
            <i class="fa-solid fa-star icon"></i>
            <i class="fa-solid fa-star icon"></i>
            <i class="fa-solid fa-star icon"></i>
            <i class="fa-solid fa-star icon"></i>
            <i class="fa-solid fa-star icon"></i>
          </div>
          <hr>
        </div>
      </div>

        <div class="price-explore">
          <div class="from">
            <p>From</p>
            <p class="price"><span>$</span> 1050</p>
          </div>
          <div class="arrow">
          <p class="p-orange">Explore</p>
          <span><i class="fa-solid fa-arrow-right icon"></i></span>
          </div>
        </div>
        <div class="edge">
          <i class="fa-solid fa-calendar-days icon"></i>
          <span>3 Days and 2 Nights</span>
        </div>
    </div>

    <div class="col-md-12 col-lg-4 col-sm-12 Rectangle">
      <div class="content">
        <img src="assets/images/ships.jpg">
        <div>
          <p class="p-black">LIVEABOARD SATAYA DOLPHIN HOUSE</p>
          <p> <i class="fa-solid fa-location-dot icon"></i> Marsa ALAM</p>
          <div class="stars">
            <i class="fa-solid fa-star icon"></i>
            <i class="fa-solid fa-star icon"></i>
            <i class="fa-solid fa-star icon"></i>
            <i class="fa-solid fa-star icon"></i>
            <i class="fa-solid fa-star icon"></i>
          </div>
          <hr>
        </div>
      </div>
      <div class="price-explore">
        <div class="from">
          <p>From</p>
          <p class="price"><span>$</span> 1050</p>
        </div>
        <div class="arrow">
        <p class="p-orange">Explore</p>
        <span><i class="fa-solid fa-arrow-right icon"></i></span>
        </div>
      </div>

        <div class="edge">
          <i class="fa-solid fa-calendar-days icon"></i>
          <span>3 Days and 2 Nights</span>
        </div>
    </div>

    <div class="col-md-12 col-lg-4 col-sm-12 Rectangle">
      <div class="content">
        <img src="assets/images/ships.jpg">
        <div>
          <p class="p-black">LIVEABOARD SATAYA DOLPHIN HOUSE</p>
          <p> <i class="fa-solid fa-location-dot icon"></i> Marsa ALAM</p>
          <div class="stars">
            <i class="fa-solid fa-star icon"></i>
            <i class="fa-solid fa-star icon"></i>
            <i class="fa-solid fa-star icon"></i>
            <i class="fa-solid fa-star icon"></i>
            <i class="fa-solid fa-star icon"></i>
          </div>
          <hr>
        </div>
      </div>
      <div class="price-explore">
        <div class="from">
          <p>From</p>
          <p class="price"><span>$</span> 1050</p>
        </div>
        <div class="arrow">
        <p class="p-orange">Explore</p>
        <span><i class="fa-solid fa-arrow-right icon"></i></span>
        </div>
      </div>

        <div class="edge">
          <i class="fa-solid fa-calendar-days icon"></i>
          <span>3 Days and 2 Nights</span>
        </div>
    </div>

  </div>


  <button class="btn">view All Liveboard</button>


</div>
