<div class="accommdation">
  <h4>Accommdation</h4>
  <h3>Lets Discover Our<span> Hotels</span></h3>
  <app-sphere></app-sphere>
  <div class="product">
    <div class="container-fluid">
      <div class="slider-wrap">
        <div class="slider-main">
          <div class="item" id="item">
            <img src="assets/images/slide1.png">
          </div>
          <div class="item" id="item">
            <img src="assets/images/slide3.png">
          </div>
          <div class="item" id="item">
            <img src="assets/images/slide4.png">
          </div>
          <div class="item" id="item">
            <img src="assets/images/slide3.png">
          </div>
          <div class="item" id="item">
            <img src="assets/images/slide1.png">
          </div>
          <div class="item" id="item">
            <img src="assets/images/slide3.png">
          </div>
          <div class="item" id="item">
            <img src="assets/images/slide4.png">
          </div>
        </div>
        <div class="button-area">
          <div class="btn prev" appPrev><i class="fa-solid fa-angle-left icon"></i></div>
          <div class="btn next" appNext><i class="fa-solid fa-angle-right icon"></i></div>
        </div>
      </div>
    </div>
  </div>

  <div class="button-icon d-flex container-fluid">
    <p>View More</p>
    <span><i class="fa-solid fa-arrow-right icon"></i></span>

</div>


</div>
